@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mohawk Car Rentals</h1>
    <p>Serving the Mohawk College community since 1966.</p>
    <img src="~/teslacar.jpg" alt="Tesla Car" width="800px" height="450px"/>
</div>
